<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="emp" class="com.pk.beans.Employee">
        <property name="empDesgs">
        <props>
        <prop key="Anil">Clerk</prop>
        <prop key="Raju">Salesman</prop>
        </props>
        </property>
        <constructor-arg value="Ravi"/>
        <constructor-arg><null/></constructor-arg>
        </bean>
</beans>