<html xmlns:th="http://www.thymeleaf.org">
<h1 style="color:red;text-align:center">Register Employee</h1>"
<form th:action="@{/employee/emp_add}" th:object="${emp}" method="POST">
<table align="center" bgcolor="cyan">
	<tr>
		<td>Employee Name::</td>
		<td><input type="text" th:feild="*{ename}"/></td>
	</tr>
	<tr>
		<td>Employee Desg::</td>
		<td><input type="text" th:feild="*{job}"/></td>
	</tr>
	<tr>
		<td>Employee salary::</td>
		<td><input type="text" th:feild="*{sal}"/></td>
	</tr>
	<tr>
		<td>Dept No::</td>
		<td><input type="text" th:feild="*{deptno}"/></td>
	</tr>
	<tr>
		<td><input type="submit" value="submit"></td>
		<td><input type="reset" value="cancel"></td>
	</tr>
	
</table>



</form>

</html>